
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 158 80% 24%;
    --primary-foreground: 210 40% 98%;

    --secondary: 134 36% 47%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 134 36% 47%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 158 80% 24%;

    --radius: 0.5rem;

    --sidebar-background: 158 80% 24%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 134 36% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 158 40% 16%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 158 40% 16%;
    --sidebar-ring: 158 60% 35%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 158 60% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 134 36% 47%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 134 36% 47%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 158 60% 35%;

    --sidebar-background: 158 60% 15%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 134 36% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 158 70% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 158 70% 20%;
    --sidebar-ring: 158 60% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
